<form id="register_form" action="/register" method="post" enctype="multipart/form-data">
  <div id="profile_information">

    <ul>
      <li class="profile_info">
        <div class="profile_info_key">
          <p>이 메 일</p>
        </div>
        <div class="profile_info_value">
          <input type="email" id="username" name="username" required>
        </div>
        <div class="profile_info_desc">
          <p>실제 사용하는 이메일</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>비 밀 번 호</p>
        </div>
        <div class="profile_info_value_pw">
          <input type="password" id="password" name="password" required>
          <p>확인</p>
          <input type="password" id="password_check" name="password_check" required>
        </div>
        <div class="profile_info_desc">
          <p>영문, 숫자를 이용한 6글자 이상</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>이 름</p>
        </div>
        <div class="profile_info_value">
          <input id="realname" type="text" name="realname" required>
        </div>
        <div class="profile_info_desc">
          <p>주민등록상 본명</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>성 별</p>
        </div>
        <div class="profile_info_value profile_info_sex">
          <input type="radio" name="sex" value="여성" checked><p class="profile_info_sex_p">여성</p>
          <input type="radio" name="sex" value="남성"><p class="profile_info_sex_p">남성</p>
          <input type="radio" name="sex" value="기타"><p class="profile_info_sex_p">기타</p>
        </div>
        <div class="profile_info_desc">
          <p>주민등록상 성별</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>생 년 월 일</p>
        </div>
        <div class="profile_info_value">
          <!-- 나중에 input type 수정 필요 -->
          <input id="birth" type="text" name="birth" required>
        </div>
        <div class="profile_info_desc">
          <p>주민등록상 생년월일 <br> ex)20000101</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>핸 드 폰 번 호</p>
        </div>
        <div class="profile_info_value">
          <!-- 나중에 input type 수정 필요 -->
          <input id="phone" type="text" name="phone" required>
        </div>
        <div class="profile_info_desc">
          <p>하이픈(-) 제외 번호만 입력 <br> ex)01011112222</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>상 태</p>
        </div>
        <div class="profile_info_value" id="profile_info_status">
          <input type="radio" name="status" value="언제든지 바로 일할 수 있어요" checked><p>언제든지 바로 일할 수 있어요</p>
          <input type="radio" name="status" value="지금은 좀 바빠요"><p>지금은 좀 바빠요</p>
        </div>
        <div class="profile_info_desc">
          <p></p>
        </div>
      </li>

      <li class="profile_info_style">
        <div class="profile_info_key">
          <p>그 림 스 타 일</p>
        </div>
        <div class="profile_info_value">
          <!-- 나중에 input type 수정 필요 -->
          <textarea name="style" rows="8" cols="80" wrap="hard" maxlength="300"></textarea>
        </div>
        <div class="profile_info_desc">
          <p>본인의 그림 스타일, 강점,<br>자신있는 장르 등을 설명해주세요.<br>(300자 이내)</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p></p>
        </div>
        <div id="user_agreement">
          <div class="">
            <input id="ag1" type="checkbox" name="" value="true" required>
            <p>[<a href="/notice/termsAndPolicy" target="_blank">사이트 이용약관</a>]을 확인하고 동의합니다.</p><br>
            <input id="ag2" type="checkbox" name="" value="true" required>
            <p>[<a href="/notice/privacy" target="_blank">개인정보취급방침</a>]을 확인하고 동의합니다.</p>
          </div>
          <input onclick="registerTest()" class="upload_button" type="button" name="" value="회원가입">
        </div>
        <div class="profile_info_desc">
          <p></p>
        </div>
      </li>


    </ul>

  </div>
  <div id="profile_mainimage">
    <img id= "image_container" src="/images/default_main.png" width="500px" height="500px" alt="">
    <div class="upload_button">
      <label for="image">파일 선택</label>
      <input type="file" id="image" onchange="setThumbnail(event);" name="file" accept=".jpg, .png, .gif" required><br>
    </div>
  </div>
</form>

<div class="popup-wrap" id="popup">
  <div class="popup">
    <div class="popup-header">
      <img src="/images/02_Top_13.jpg" alt="">
    </div>
    <div class="popup-body">
      <div class="popup-content">
        <div class="popup-content-titlebox">
          <h1></h1>
        </div>
        <div class="popup-content-contentbox">
          <p>회원가입이 완료되었습니다!</p>
          <p>입력하신 이메일로 인증 url이 전송되었습니다.</p>
          <p>이메일로 전송된 url로 접속해주세요</p>
        </div>
      </div>
    </div>
    <div class="popup-footer">
      <span class="popup-button confirm" id="popup_confirm">확인</span>
    </div>
  </div>
</div>

<script>
  //파일 업로드 시 미리보기
  function setThumbnail(event, num){
    let reader = new FileReader();

    reader.onload = (event)=>{
      document.getElementById("image_container").src = event.target.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

<script>
//회원가입 팝업
window.onload = function(){
  function openPopup(){
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    document.querySelector('.popup-wrap').style.display = 'flex';
  }

  function confirmPopup(){
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    submitForm();
  }
  function closePopup(){
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    document.querySelector('.popup-wrap').style.display = 'none';
  }
  //document.getElementById('popup_open').addEventListener('click', openPopup);
  document.getElementById('popup_confirm').addEventListener('click', confirmPopup);
  //document.getElementById('popup_close').addEventListener('click', closePopup);
}

</script>

<script type="text/javascript">
  function openPopup(){
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    document.querySelector('.popup-wrap').style.display = 'flex';
  }

  function registerTest(){
    let sendOK = true;
    let username = document.getElementById('username').value;
    let pw1 = document.getElementById('password').value;
    let pw2 = document.getElementById('password_check').value;
    let realname = document.getElementById('realname').value;
    let birth = document.getElementById('birth').value;
    let phone = document.getElementById('phone').value;
    let ag1 = document.getElementById('ag1').checked;
    let ag2 = document.getElementById('ag2').checked;
    let image = document.getElementById('image').value;

    let alertMessage = "";

    if (image.length == 0){
      alertMessage += '프로필 사진을 첨부해주세요\n'
      sendOK = false;
    }

    if (username.length == 0){
      alertMessage += '이메일을 입력해 주세요\n'
      sendOK = false;
    }else if (!username.includes('@')){
      alertMessage += '이메일 형식을 지켜주세요\n'
      sendOK = false;
    }

    if (pw1.length < 6){
      alertMessage += '비밀번호는 6글자 이상이어야 합니다\n'
      sendOK = false;
    }else if (pw1 != pw2){
      alertMessage += '비밀번호가 다릅니다\n'
      sendOK = false;
    }

    if (realname.length == 0){
      alertMessage += '이름을 입력해 주세요\n'
      sendOK = false;
    }

    if (birth.length != 8){
      alertMessage += '생년월일은 YYYYMMDD 형식이어야 합니다 \n ex)20000101\n'
      sendOK = false;
    }
    if (phone.length != 11){
      alertMessage += '핸드폰 번호 양식을 맞춰주세요\n ex)01011112222\n'
      sendOK = false;
    }

    if (!ag1){
      alertMessage += '사이트 이용약관에 동의하셔야 합니다\n'
      sendOK = false;
    }else if (!ag2){
      alertMessage += '개인정보취급방침에 동의하셔야 합니다\n'
      sendOK = false;
    }

    if (sendOK == true){
      openPopup();
    }else{
      alert(alertMessage);
    }
  }

  function submitForm(){
    let form = document.getElementById('register_form');
    form.submit();
  }
</script>
