<form id="register_form" action="/position/register" method="post" enctype="multipart/form-data">

  <div id="profile_mainimage">
    <img id= "image_container" src="/images/default_main.png" width="500px" height="500px" alt="">
    <div class="upload_button">
      <label for="image">파일 선택</label>
      <input type="file" id="image" onchange="setThumbnail(event);" name="file" accept=".jpg, .png, .gif" required><br>
    </div>


  </div>


  <div id="profile_information">

    <ul>
      <li class="profile_info">
        <div class="profile_info_key">
          <p>이 메 일</p>
        </div>
        <div class="profile_info_value">
          <input type="email" id="username" name="username" required>
        </div>
        <div class="profile_info_desc">
          <p>실제 사용하는 이메일</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>비 밀 번 호</p>
        </div>
        <div class="profile_info_value_pw">
          <input type="password" id="password" name="password" required>
          <p>확인</p>
          <input type="password" id="password_check" name="password_check" required>
        </div>
        <div class="profile_info_desc">
          <p>영문, 숫자를 이용한 6글자 이상</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>이 름</p>
        </div>
        <div class="profile_info_value">
          <input id="name" type="text" name="realname" required>
        </div>
        <div class="profile_info_desc">
          <p>주민등록상 본명</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>성 별</p>
        </div>
        <div class="profile_info_value">
          <input type="radio" name="sex" value="여성"><p>여성</p>
          <input type="radio" name="sex" value="남성"><p>남성</p>
          <input type="radio" name="sex" value="기타"><p>기타</p>
        </div>
        <div class="profile_info_desc">
          <p>주민등록상 성별</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>생 년 월 일</p>
        </div>
        <div class="profile_info_value">
          <!-- 나중에 input type 수정 필요 -->
          <input type="text" name="birth" required>
        </div>
        <div class="profile_info_desc">
          <p>주민등록상 생년월일 ex)20000101</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p>핸 드 폰 번 호</p>
        </div>
        <div class="profile_info_value">
          <!-- 나중에 input type 수정 필요 -->
          <input type="text" name="phone" required>
        </div>
        <div class="profile_info_desc">
          <p>하이픈(-) 제외 번호만 입력</p>
        </div>
      </li>

      <li class="profile_info_style">
        <div class="profile_info_key">
          <p>그 림 스 타 일</p>
        </div>
        <div class="profile_info_value">
          <!-- 나중에 input type 수정 필요 -->
          <textarea name="style" rows="8" cols="80" maxlength="300"></textarea>
        </div>
        <div class="profile_info_desc">
          <p>본인의 그림 스타일, 강점,<br>자신있는 장르 등을 설명해주세요.<br>(300자 이내)</p>
        </div>
      </li>

      <li class="profile_info">
        <div class="profile_info_key">
          <p></p>
        </div>
        <div id="user_agreement">
          <div class="">
            <input type="checkbox" name="" value="true" required>
            <p>[<a href="#">사이트 이용약관</a>]을 확인하고 동의합니다.</p><br>
            <input type="checkbox" name="" value="true" required>
            <p>[<a href="#">개인정보취급방침</a>]을 확인하고 동의합니다.</p>
          </div>
          <input class="upload_button" type="submit" name="" value="회원가입">
        </div>
        <div class="profile_info_desc">
          <p></p>
        </div>
      </li>


    </ul>

  </div>






</form>

<script>
  //파일 업로드 시 미리보기
  function setThumbnail(event, num){
    let reader = new FileReader();

    reader.onload = (event)=>{
      document.getElementById("image_container").src = event.target.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
