<div id="footer_nav">
  <ul>
    <li>
      <a href="/noticeboard/1">공지사항</a>
    </li>
    <p class="nav_divider">&nbsp|&nbsp</p>
    <li>
      <a href="/notice/termsAndPolicy">이용약관</a>
    </li>
     <p class="nav_divider">&nbsp|&nbsp</p>
    <li>
      <a href="/notice/privacy">개인정보취급방침</a>
    </li>
    <p class="nav_divider">&nbsp|&nbsp</p>
    <li>
      <a href="/notice/pofolup_contact">제휴문의</a>
    </li>
  </ul>
</div>
<div id="footer_info">
  <div id="footer_copyright">
      <p>Copyright ⓒ WONYFRAME</p>
  </div>

  <div id="footer_company">
    <div id="footer_company_logo">
      <img src="/images/01_main_09.jpg" alt="">
    </div>
    <div id="footer_company_info">
      <p class="footer_company">(주)워니프레임 ㅣ Business License : 836-81-00882</p>
      <p class="footer_company">Address : 서울시 동작구 동작대로7길 48 새한빌딩 503 ㅣ CS : +82 2-523-4142</p>
    </div>
  </div>

</div>
