<a href="/"><img src="/images/logo.png" height="30" alt=""></a>
<!--
<nav>
  <ul class="header_navbar">
    <li class="header_nav">
      <a href="/position/writer" class="header_category">글작가 페이지</a>
    </li>
    <li class="header_nav">
      <a href="/position/illustrator" class="header_category">그림작가 페이지</a>
    </li>
    <li class="header_nav">
      <a href="/position/pm" class="header_category">기획자 페이지</a>
    </li>
    <li class="header_nav">
      <a href="https://wonyframe.com/" class="header_category">워니프레임 홈페이지</a>
    </li>
  </ul>
</nav>
-->
