<nav>
  <a href="/"><img src="/images/logo.png" height="30" alt=""></a>
  <ul class="header_navbar">
    <li class="header_navber_wrap">
      <a href="/position/writer" class="header_nav">글작가 페이지</a>
    </li>
    <li class="header_navber_wrap">
      <a href="/position/illustrator" class="header_nav">그림작가 페이지</a>
    </li>
    <li class="header_navber_wrap">
      <a href="/position/pm" class="header_nav">기획자 페이지</a>
    </li>
    <li class="header_navber_wrap">
      <a href="https://wonyframe.com/" class="header_nav">워니프레임 홈페이지</a>
    </li>
  </ul>
</nav>
