<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<header>
  <a href="/"><img src="images/logo.png" height="30" alt=""></a>
  <div>
    <a href="/position/writer" class="header_category">글작가 페이지</a>
    <a href="/position/illustrator" class="header_category">그림작가 페이지</a>
    <a href="/position/pm" class="header_category">기획자 페이지</a>
    <a href="https://wonyframe.com/" class="header_category">워니프레임 홈페이지</a>
  </div>
</header>

  <div>

    <div class="applyInfo">
      <h3>applicant 0</h3>
      <span id='applicant00'>hi</span>
      <span id='applicant01'>hi</span>
      <span id='applicant02'>hi</span>
      <span id='applicant03'>hi</span>
    </div>
  </div>
  <div>
    <h3>applicant 1</h3>
    <div class="applyInfo">
      <p id='applicant10'>hi</p>
      <p id='applicant11'>hi</p>
      <p id='applicant12'>hi</p>
      <p id='applicant13'>hi</p>
    </div>

  </div>
  <div>
    <h3>applicant 2</h3>
    <div class="applyInfo">
    <p id='applicant20'>hi</p>
    <p id='applicant21'>hi</p>
    <p id='applicant22'>hi</p>
    <p id='applicant23'>hi</p>
  </div>
  <div>
    <h3>applicant 3</h3>
    <div class="applyInfo">
    <p id='applicant30'>hi</p>
    <p id='applicant31'>hi</p>
    <p id='applicant32'>hi</p>
    <p id='applicant33'>hi</p>
  </div>
  <div>
    <h3>applicant 4</h3>
    <p id='applicant40'>hi</p>
    <p id='applicant41'>hi</p>
    <p id='applicant42'>hi</p>
    <p id='applicant43'>hi</p>
  </div>
  <div>
    <h3>applicant 5</h3>
    <p id='applicant50'>hi</p>
    <p id='applicant51'>hi</p>
    <p id='applicant52'>hi</p>
    <p id='applicant53'>hi</p>
  </div>
  <div>
    <h3>applicant 6</h3>
    <p id='applicant60'>hi</p>
    <p id='applicant61'>hi</p>
    <p id='applicant62'>hi</p>
    <p id='applicant63'>hi</p>
  </div>



  <script>
    var data;
    fetch("/applicants")
      .then((response) => {
        return response.json();
      }).then((myJson)=>{
        data = JSON.stringify(myJson);
        data = JSON.parse(data);
        console.log(data);

      }).then(()=>{

        for (var i=0; i<7; i++){
          document.getElementById(`applicant${i}0`).innerHTML = '이름   : ' + data[i].name;
          document.getElementById(`applicant${i}1`).innerHTML = '이메일 : ' + data[i].email;
          document.getElementById(`applicant${i}2`).innerHTML = '번호   : ' + data[i].number;
          document.getElementById(`applicant${i}3`).innerHTML = '직무   : ' + data[i].position;
          //document.getElementById(`applicant${i}`).innerHTML = JSON.stringify(data[i]);
          console.log(i);
        }
      /*
        document.getElementById('applicant1').innerHTML = data[0].name;
        document.getElementById('applicant2').innerHTML = data[1].name;
        document.getElementById('applicant3').innerHTML = data[2].name;
        document.getElementById('applicant4').innerHTML = data[3].name;
        document.getElementById('applicant5').innerHTML = data[4].name;
        */
      });
  </script>


</body>
</html>
