<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/register.css" rel="stylesheet" type="text/css">
  <style>
    div{
      border: 1px solid #ccc;
    }
    img{
      border: 1px solid #ccc;
    }
    form{
      border: 1px solid #23ab24;
    }
  </style>
</head>

<body>
  <div id="container">
    <div id="header">
      <%- include('./partials/header'); %>
    </div>
    <div id="contents">
      <%- include('./partials/apply_register'); %>
    </div>
    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>
  </div>
</body>

</html>
