<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header><br>
  <div>
    <%- include('./partials/apply_register'); %>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>
