<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <p>지원하시려면 이메일 인증이 필요합니다.</p>
  <p><%= user.username %>로 인증 url이 전송되었습니다.</p>
  <p>이메일로 전송된 url로 접속해주세요</p>


  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>



</html>
