<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/index.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="container">
    <div id="header">
      <%- include('./partials/header'); %>
    </div>
    <div id="contents" style="margin-bottom: 200px; font-size: 20pt;">
      <p style="font-size: 40pt; margin-top: 100px; margin-bottom: 200px">에러 페이지</p>
      <% if (errorDetail != undefined) { %>
      <p><%= errorDetail %></p>
      <% } else {%>
      <p>에러가 발생했습니다!</p>
      <% } %>
    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>


</html>
