<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head'); %>
</head>

<body>

  <form action="logout" method="post">
    <input type="submit" value="Log out">
  </form>
  <a href="/logout">Logout</a>

  <header>
    <%- include('./partials/header'); %>
  </header><br>

  <div class="container1">
    <div class="main_banner">
      <img src="images/0.png" alt="" height="" width="">
    </div>
  </div>

  <div class="container2">
    <a type="button" href="/position/apply">지원하기 페이지</a><br>


    <a href="/adminPage/1">데이터베이스 보기</a>

    <div>
      <p>이미 지원했다면?</p>
      <p>지원내역 보기</p>
      <form action="/userLogin" method="post">
        <label for="username">이메일</label><br>
        <input type="text" name="username" id="username" required><br>
        <label for="password">비밀번호</label><br>
        <input type="password" name="password" id="password" required><br><br><br>

        <input type="submit" value="로그인">
      </form>
    </div>

  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>


</html>
