<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/index.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div id="container">
    <div id="contents">
      <img id="main-logo" src="images/0.png" alt="pofolup main_logo">
      <img id="sub-logo" src="images/0.png" alt="pofolup sub_logo">

      <% if (login == false) { %>
        <!-- 아무도 로그인되어있지 않음 -->
        <div class="form-wrap">
          <form action="/userLogin" method="post">
            <input type="text" name="username" id="username" required placeholder="  Email">
            <input type="password" name="password" id="password" required placeholder="  Password">
            <div id="register_login">
              <a id="register_link" type="button" href="/register">회원가입</a>
              <p>&nbsp|&nbsp</p>
              <input id="login_button" type="submit" value="로그인" class="loginButton">
            </div>
          </form>
      </div>
      <% } else { %>
        <a href="/applicants/<%= user.username %>">내 지원내역 보기</a><br>
        <form action="/logout" method="post">
          <input type="submit" value="Log out">
        </form>
      <% } %>

    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>


</html>
