<html>
<body>
  <div>
    <p>지원 분야 : <%= req.body.position%></p>
    <p>이름 : <%= req.body.realname%></p>
    <p>이메일 : <%= req.body.username%></p>
    <p>포폴업을 접한 경로 : <%= req.body.route%></p>
  </div>
</body>
</html>
