<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/notice.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="container">

    <div id="header">
      <%- include('./partials/header'); %>
    </div>

    <div id="contents">
      <div id="notice_header">
        <h2>이용약관</h2>
      </div>
      <div id="notice_body">
        <p class="notice_termsAndPolicy">
          (제 1 조) 목적

이 약관은 (주)워니프레임이 운영하는 https://pofolup.com(이하 "포폴업"이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 "포폴업"과 이용자의 권리•의무 및 책임사항을 규정함을 목적으로 합니다.

(제 2 조) 약관의 효력 및 변경

1) 본 약관은 서비스 화면에 게시하여 공시함으로써 이용자에게 공시하고 이에 동의한 이용자가 서비스에 가입함으로써 효력이 발생합니다.
2) 본 약관에 동의하는 경우, 회사의 서비스 제공 행위 및 회원의 서비스 사용 행위에 본 약관이 우선적으로 적용됩니다.
3) 회사는 필요하다고 인정하는 경우 관련법을 저촉하지 않는 범위 내에서 본 약관을 개정할 수 있으며, 변경된 약관은 적용 일자 및 개정 사유를 명시하여 서비스 화면에 공지합니다.
4) 회원은 변경된 약관에 동의하지 않을 경우 회원등록을 취소(회원탈퇴, 해지) 할 수 있으며, 변경된 약관의 효력 발생일로부터 7일 이내에 거부의사를 표시하지 않고 서비스를 계속 사용할 경우 동의한 것으로 간주합니다.
5) 회사는 특정 작가와 개별적으로 이 약관에 규정된 내용과 다른 내용의 계약(이하 “개별계약”이라고 합니다)을 체결할 수 있습니다. 이 경우 개별 계약이 약관 등에 우선하여 적용됩니다.
6) 본 약관에 정하는 범위 이외의 이용자와 회사의 권리, 의무 및 책임사항에 관해서는 전기통신사업법 기타 대한민국의 관련 법령과 상관습을 따릅니다.


(제 3 조) 용어의 정의
본 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다.

1) 포폴업: (주)워니프레임이 회원의 포트폴리오를 업로드 할 수 있도록 설정한 온라인 서비스와 사이트를 말하며, 아울러 포폴업를 운영하는 사업자의 의미로도 사용합니다.

2) 회원: 이 약관을 승인하고, 회사가 제공하는 일체의 서비스를 받는 자를 말합니다.
3) 개인 회원: 자신의 포트폴리오를 업로드를 하는 회원을 말합니다.
4) 포트폴리오: 회원이 외주 또는 취업을 목적으로 포폴업 사이트에 업로드한 모든 창작물.
5) 게시물: 개인 회원이 포폴업 게시판에 업로드한 정보와 포트폴리오가 담긴 글. 개인 회원에게는 공개되지 않습니다.
6) 허위 게시물: 신분 위장, 다른 이의 저작권 침해에 해당하는 게시물.
7) 사이트: 포폴업 서비스 웹사이트.
8) 이용계약: 이용자가 본 약관에 동의하고, 회원가입 절차를 완료한 경우 서비스 이용에 대한 계약(이하 이용계약)이 성립된 것으로 간주함.
9) 휴면 상태 회원: 1년 이상 장기간 로그인이 없는 회원.


(제 4 조) 서비스의 이용

1) 회원은 회사가 공지한 각 매매에 관한 사항을 사전에 충분히 이해하고 서비스를 이용하여야 합니다.
2) 회원은 아이디(이메일)과 비밀번호를 통하여 회사가 제공하는 서비스에 접속할 수 있고, 동 서비스를 이용하여 포트폴리오를 업로드하거나 갱신, 삭제할 수 있습니다.
3) 서비스의 이용은 연중무휴이며 1일 24시간을 원칙으로 합니다. 다만, 회사의 업무상 또는 기술상의 이유로 서비스가 일시 중지 될 수 있습니다. 이러한 경우 회사는 사전 또는 사후에 이를 공지합니다.
4) 일부의 서비스는 서비스 제공자의 요구에 따라 특정 회원에게만 제공될 수 있습니다.


(제 5 조) "포폴업" 계정

서비스 및 기능에 접속하기 위해서는 https:/pofolup.com 에서 계정을 만들어야 합니다. 이용자는 다른 이용자의 계정을 허락 없이 절대로 사용할 수 없습니다. 이용자는 계정에서 일어나는 활동에 대해 단독으로 책임이 있으며, 계정의 패스워드를 기밀로 유지해야 합니다. 보안이 위반되거나 이용자의 계정이 허가 없이 누군가에 의해 사용되는 경우, 즉시 "포폴업"에게 통지해야 합니다. "포폴업"은 계정이 허가 없이 사용됨으로 인해 야기된 손실에 책임이 없습니다.



(제 6 조) 회원탈퇴 및 자격상실

회원은 "포폴업"에 언제든지 탈퇴를 요청할 수 있으며 "포폴업"은 즉시 회원탈퇴를 처리합니다. 회원이 다음 각호의 사유에 해당하는 경우, "포폴업"은 회원자격을 제한 및 정지시킬 수 있습니다
(1) 가입 신청 시 또는 포트폴리오 업로드 시에 허위 내용을 등록한 경우.
(2) "포폴업"를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우.
(3) "포폴업"이 회원 자격을 제한, 정지시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 회원자격을 상실시킬 수 있습니다.
(4) "포폴업"이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.



(제 7 조) 저작권

1) 회원이 게시한 게시물의 저작권은 회원 본인이 소유한 것이어야 하며, 회사는 기업 고객에게 열람 권한을 줄 수 있습니다.
2) 사이트에 업로드한 모든 게시물에 대한 저작권은 작가에게 귀속됩니다.
3) 회원이 업로드한 콘텐츠를 제외하고, 서비스 그 자체 및 서비스 내에 있거나 서비스에서 전송되는 모든 자료 그리고 그것들에 대한 모든 지적재산권은 "포폴업" 및 "포폴업"의 라이선스 부여자들의 독점적인 재산입니다.


(제 8 조) 게시물의 관리 운영

1) 회사는 다음 각 호에 해당하는 게시물을 사전 통지 없이 삭제하거나, 등록을 거부 할 수 있습니다.
① 본 서비스 약관에 위배되거나 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우.
② 다른 회원 또는 제 3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우.
③ 공공질서 및 미풍양속에 위반되는 내용인 경우.
④ 범죄적 행위에 결부된다고 인정되는 내용일 경우.
⑤ 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우.
⑥ 서비스 성격에 부합하지 않는 정보의 경우.
⑦ 본인이 등록한 게시물이 타인의 작품이나 아이디어를 명백히 침해한 경우.
⑧ 본인의 창작물이 타 작가의 작품을 모작, 모방했을 경우.
⑨ 게시물이 허위 게시물로 확인 될 시, 작가에게 통보 후 게시물은 즉시 삭제되며, 허위 게시물을 통해 의뢰 받은 작업은 취소됩니다.
⑩ 기타 관계 법령에 위배되는 경우.
2) 다음 각 호에 해당하는 경우 회사는 작가 게시물에 대해 검토 및 삭제할 권리가 있습니다.
① 작가의 창작물과 완성된 창작물이 크게 차이가 있어 의뢰자의 항의가 있을 경우.
② 의뢰자의 신고가 접수된 경우.
③ 다른 작가의 아이디어 및 디자인을 차용하려는 의구심이 드는 경우.
④ 창작물 도용을 의심할만한 근거가 발견된 경우.



(제 9 조) 서비스 이용의 제한

1) 회사는 신청서 양식에 정확히 기재하여 이용 신청하였을 경우 서비스 이용이 가능합니다.
2) 회사는 다음 각 호에 해당하는 경우, 회원의 본 서비스 사용을 정지할 수 있으며, 이로 인해 발생하는 불이익에 대해 회사는 책임을 부담하지 않습니다.
① 타인명의로 서비스를 가입한 경우.
② 회원이 제공하는 정보의 내용이 허위인 것으로 판명되거나, 허위가 있다고 의심할 만한 합리적인 사유가 발생할 경우.
③ 회사가 정한 이용신청 요건이 미비 되었을 경우. (필수 항목 누락, 오기 등)
④ 법령 또는 약관을 위반하여 서비스 이용이 해지 된 적이 있는 이용자가 서비스를 가입한 경우.
⑤ 사회의 안녕질서 혹은 미풍양속을 저해할 목적으로 서비스를 가입한 경우.
⑥ 기타 부정한 용도로 본 서비스를 이용하고자 하는 경우.
⑧ 작가 회원이 의뢰건에 대한 진행을 성실하게 수행하지 않아 의뢰자의 불만이 빈번하게 발생하는 경우.
⑨ 허위 게시물을 등록한 경우.
⑩ 감정노동자보호법(산업안전보건법 제26조의2)에 따라 조치가 필요할 경우
3) 회사는 회원이 본 약관의 내용에 위배되는 행동을 하였을 경우, 임의로 서비스 사용을 제한 및 중지할 수 있습니다.



( 제 10 조 ) 회원의 의무

1) 회원의 게시물이 타인의 저작권을 침해함으로써 발생하는 민·형사상의 책임은 회원에게 있습니다.
2) 작가와 의뢰자는 작품 의뢰의 이행과정에서 알게 된 상대방의 개인정보와 업무상·기술상 비밀을 상대방의 승인이 없는 한 부당하게 이를 이용하거나 제3자에게 누설하여서는 안됩니다.
3) 작가와 의뢰자는 의뢰를 이행하는 기간, 의뢰를 완료한 후 또는 의뢰가 취소된 후에도 제1항의 이행 의무가 있으며, 이에 위반하여 상대방에게 손해를 입힌 경우에는 이를 배상해야 합니다.
4) 회원은 이용 신청 시 기재한 사항이 변경되었을 경우에는 인터넷 사이트를 통해 수정을 해야 하며 회원 정보의 미 변경으로 인해 발생되는 문제의 책임은 회원에게 있습니다.
5) 회원 ID 및 비밀번호의 관리책임은 회원에게 있습니다. 이를 소홀이 관리하여 발생하는 서비스 이용상의 손해 또는 제 3자에 의한 부정이용 등에 대한 책임은 회원에게 있으며 회사는 그에 대한 책임을 지지 않습니다.
6) 회원은 서비스 이용을 위해 가입할 경우 현재의 사실과 일치하는 완전한 정보(이하 ‘가입 정보’)를 제공해야 합니다. 또한 가입 정보에 변경이 발생할 경우 즉시 갱신해야 합니다.
7) 회원에게 부여되는 ID, 비밀번호는 다음 각 호와 같이 관리해야 합니다.
① 회원의 승인 없이 ID나 비밀번호가 부정하게 사용되었다는 사실을 발견한 경우에는 즉시 회사에 신고해야 합니다.
② 회원정보의 보호를 위해 사이트 접속 종료 시에는 반드시 로그아웃을 해야 합니다.
8) 회원은 본 서비스와 타 회원에게 다음과 같은 행위를 해서는 안됩니다.
① 본 서비스와 타인에게 위해를 가하는 행위.
② 타인의 ID, 비밀번호, 명의 도용 및 타인으로 가장하는 행위.
③ 타인과의 관계를 허위로 명시하는 행위.
④ 본 서비스와 타인을 비방할 목적으로 사실 또는 허위의 사실을 적시하여 명예를 훼손하는 행위.
⑤ 본인 또는 본 서비스와 타인에게 재산상의 이익을 주거나 손해를 가할 목적으로 허위의 정보를 유통시키는 행위.
⑥ 본 서비스와 타인에게 수치심이나 혐오감 또는 공포심을 일으키는 말이나 음향, 글이나 화상 또는 영상을 계속하여 도달하게 하여 일상적 생활 또는 업무를 방해하는 행위.
⑦ 회사의 사전 승낙 없이 서비스를 이용한 영리 행위.
⑧ 저속 또는 음란한 데이터, 텍스트, 소프트웨어, 음악, 사진, 그래픽, 비디오 메시지 등(이하 ‘컨텐츠’)을 게시, 게재 또는 전자우편 등, 기타 연락처로 보내는 행위.
⑨ 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비를 파괴, 방해 또는 기능을 제한하기 위한 소프트웨어 바이러스를 게시, 게재 또는 전자우편 등, 기타 연락처로 보내는 행위.
⑩ 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시, 게재, 전자우편 등, 기타 연락처 보내는 행위.
⑪ 다른 사용자의 개인정보를 수집 또는 저장하는 행위.
⑫ 재물을 걸고 도박하거나 사행 행위를 하는 행위.
⑬ 윤락 행위를 알선하거나 음행을 매개하는 내용의 정보를 유통시키는 행위.
⑭ 서비스의 안정적인 운영에 지장을 주거나 줄 우려가 있다고 판단되는 행위.
⑮기타 불법적이거나 부당한 행위.


( 제 11 조 ) 양도 금지

1) 회원은 서비스의 이용 권한, 기타 이용계약 상, 지위를 타인에게 양도 및 증여할 수 없으며, 이를 담보로 제공할 수 없습니다.


( 제 12 조 ) 회사의 의무

1) 회사는 법령과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 지속적·안정적으로 서비스를 제공하기 위하여 노력할 의무가 있습니다.
2) 회사는 회원의 개인 신상 정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 다만, 관계법령에 의해 국가 기관의 요구나 전기통신관련법령 및 정보통신윤리위원회의 요청 등 법률의 규정에 따른 적법한 절차에 의한 경우는 제외합니다.
3) 회사는 계속적이고 안정적인 서비스의 제공을 위하여 설비에 장애가 생기거나 멸실된 때에는 부득이한 사유가 없는 한 지체 없이 이를 신속히 수리 또는 복구합니다.
4) 회사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우, 그러한 손해가 회사의 고의나 중과실에 기해 발생한 경우에 한하여 책임을 부담하며, 그 책임의 범위는 통상 손해에 한합니다.
5) 회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 신속히 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리 일정을 통보합니다.
6) 회사는 관련법령이 정하는 바에 따라서 회원 등록 정보를 포함한 회원의 개인 정보를 보호하기 위하여 노력합니다. 회원의 개인정보 보호에 관해서는 관련법령 및 제13조에 제시된 내용을 준수합니다


( 제 13 조 ) 개인정보취급방침

1) 회사는 이용신청 시 회원이 제공하는 정보를 통하여 회원에 관한 정보를 수집하며, 회원의 개인정보는 본 이용약관의 이행과 본 이용약관상의 서비스 제공을 위한 목적으로만 이용합니다.
2) 회사는 정보통신망법 등 관계 법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위해 노력합니다. 3) 회사는 서비스 제공과 관련하여 취득한 회원의 정보를 본인의 승낙 없이 제3자에게 누설 또는 배포할 수 없으며 상업적 목적으로 사용할 수 없습니다. 다만, 다음의 각 호의 경우는 제외합니다.
① 관계 법령에 의하여 수사상의 목적으로 관계기관으로부터 요구가 있는 경우.
② 정보통신윤리위원회의 요청이 있는 경우.
③ 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우.
4) 개인정보의 보호를 위해 1년 이상 휴면 상태의 회원인 경우 안내 메일 또는 1주일간의 공지 후 개인정보가 별도의 데이터로 관리되거나 삭제됩니다. 단, 게시물을 등록한 작가의 경우 그러하지 않습니다.
5) 개인정보의 보호 및 사용에 대해서는 관련법 및 회사의 개인정보취급방침이 적용됩니다.


( 제 14 조 ) 재판관할

1) 서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생한 경우, 회사와 회원은 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 해야 합니다.
2) 제1항의 규정에도 불구하고 서비스 이용으로 발생한 분쟁에 대하여 소송이 제기될 경우, 회사 소재지를 관할하는 법원을 관할법원으로 합니다.


( 제 15 조 ) 준거법 및 관할법원

이 약관과 회사와 회원간의 이용계약, 회원 상호간의 물품거래에 대해서는 대한민국 법령이 적용되며, 이 약관, 회사와 회원간의 서비스 이용계약 및 회원 상호간의 서비스 거래에 관한 해석과 관할법원에 대하여는 대한민국 법령에 따릅니다.


이 약관은 2022년 6월 15일부터 적용됩니다.
        </p>
      </div>


    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>



</html>
