<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/notice.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="container">

    <div id="header">
      <%- include('./partials/header'); %>
    </div>

    <div id="contents">
      <div id="notice_header">
        <h2>개인정보취급방침</h2>
      </div>
      <div id="notice_body">
        <p class="notice_termsAndPolicy">
          (주)워니프레임(이하 '회사')은 회원님의 개인정보를 중요시하며, 개인정보의 보호와 관련하여 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법, 전기통신사업법, 통신비밀보호법 등 개인정보와 관련된 법령 상의 개인정보 보호 규정 및 방송통신위원회가 제정한 개인정보보호지침을 준수하고 있습니다.

1. 수집하는 개인정보 항목 및 이용 목적

회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 아래 목적 이외의 용도로는 사용되지 않습니다. 만일 이용 목적이 변경될 시에는 사전 동의를 구합니다.

-	업무 요청에 따른 의사소통
-	고객 문의에 대한 답변

2. 개인정보 수집현황
서비스 제공을 위한 최소한의 개인정보를 수집합니다
수집목적 : 작업의뢰 및 의사소통
수집항목 : 이름, 연락처, 이메일
수집방법 : 회원가입시 작성

3. 개인정보 처리 및 보유기간
법령에 따라 정보주체로부터 개인정보를 수집/처리합니다.
개인정보는 처리목적달성이 완료되거나 정보주체의 파기요청이 있을 경우  파기됩니다.
회사는 수집한 개인정보를1년까지 보관 후 파기합니다.


4. 개인정보의 제3자 제공에 관한 사항

회사는 원칙적으로 「개인정보의 수집·이용」에서 고지한 범위 내에서 개인정보를 이용하며 제3자에게 제공하지 않습니다. 다만, 동 범위를 초과하여 이용하거나 제3자에게 제공할 경우 아래의 경우에는 예외로 합니다.
 1) 이용자들이 사전에 공개 또는 제3자 제공에 동의한 경우
 2) 법령의 규정에 의거하거나, 수사, 조사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관 및 감독당국의 요구가 있는 경우
3) 그 밖에 개인정보 제3자 제공이 필요한 경우에는 이용자의 동의를 얻는 등 적법한 절차를 통하여 제3자에게 개인정보를 제공할 수 있습니다.

5. 개인정보 보호 책임자
ㆍ책임자 : 박종원
ㆍ직책 : 대표이사
ㆍ연락처 : 02-523-4142

6. 개인정보의 권리침해 신고상담

기타 개인정보 침해에 대한 신고나 상담이 필요한 경우에 아래 기관에 문의 가능합니다.

① 개인정보침해신고센터 (privacy.kisa.or.kr / 국번없이 118)
② 대검찰청 사이버수사과 (www.spo.go.kr / 국번없이 1301)
③ 경찰청 사이버수사국 (ecrm.cyber.go.kr / 국번없이 182)
④ 개인정보 분쟁조정위원회 (www.kopico.go.kr / 국번없이 1833-6972)


7. 개인정보 처리방침 변경

이 개인정보처리방침은 시행일로부터 적용됩니다. 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.


ㆍ공고일자: 2022년 6월 15일

ㆍ시행일자: 2022년 6월 15일
        </p>
      </div>


    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>



</html>
