<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/notice.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="container">

    <div id="header">
      <%- include('./partials/header'); %>
    </div>

    <div id="contents">
      <div id="notice_header">
        <h2>개인정보취급방침</h2>
      </div>
      <div id="notice_body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis hendrerit quam. Mauris sit amet dolor imperdiet, interdum orci vitae, posuere massa. Quisque ante libero, ultrices et sagittis nec, gravida a tortor. Nam imperdiet sem vel ipsum molestie, quis maximus nisi tincidunt. Mauris a diam sed magna vehicula congue. Nunc sit amet velit iaculis, volutpat orci finibus, efficitur ligula. Aliquam vitae libero eu massa malesuada rhoncus. Phasellus gravida rutrum consectetur. Suspendisse et ultricies turpis, tristique hendrerit mauris. Phasellus odio dolor, hendrerit ac neque porttitor, egestas consectetur odio. Vivamus ante enim, eleifend eget cursus non, aliquet ut ligula. Praesent iaculis posuere dolor in pulvinar. Donec ultrices neque ut libero ullamcorper, ut congue magna ultricies. In hac habitasse platea dictumst.</p>
        <p>Etiam interdum purus diam, ultricies hendrerit ligula sodales ac. Pellentesque bibendum turpis odio, in faucibus libero euismod vel. Morbi sit amet congue elit. Vivamus lacus erat, posuere id urna placerat, lacinia porta orci. Pellentesque in volutpat odio. Nullam ac est dapibus, porta magna ac, varius lacus. Nunc leo mi, ultricies vitae dictum ac, tincidunt ac mauris. Donec suscipit nunc vel justo iaculis, ut viverra lorem eleifend. Suspendisse blandit mi in ligula tincidunt sagittis ut ac purus. Pellentesque dictum viverra ipsum, tempus egestas sapien ornare at. In hac habitasse platea dictumst.</p>
        <p>Morbi semper id nisi venenatis fringilla. Curabitur ac nulla posuere sem rutrum efficitur eget id neque. Vestibulum quis lorem vitae arcu feugiat pulvinar vitae ac purus. Integer eu nulla libero. Integer luctus velit sit amet auctor tincidunt. Nulla porttitor, nibh eu interdum gravida, est nisl imperdiet ex, vitae cursus augue magna at magna. Etiam interdum nec quam vitae congue.</p>
        <p>Nam malesuada metus non posuere consectetur. Praesent accumsan placerat urna quis laoreet. Duis ut ex vel felis interdum lobortis quis non risus. Duis sit amet eros non est fermentum molestie et vel dui. Sed volutpat orci et leo imperdiet, eget blandit dolor tincidunt. In nec nulla facilisis, imperdiet mauris non, finibus justo. Vivamus lacinia metus viverra nibh eleifend, in convallis felis imperdiet. Cras semper placerat ligula, in efficitur enim congue lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eget varius tortor, laoreet tempus quam. Curabitur a placerat quam. Nullam faucibus hendrerit sollicitudin.</p>
        <p>Donec rhoncus scelerisque neque sit amet interdum. Morbi ac urna enim. Morbi orci nibh, fringilla at nulla vel, interdum cursus neque. Praesent ac metus eu urna pretium mollis. Nullam malesuada nibh vel lectus sagittis egestas. Nullam vitae maximus tellus, sit amet ornare turpis. Nullam mollis risus vitae neque luctus, sed malesuada odio sollicitudin. Proin convallis, enim eu fermentum tincidunt, metus neque ornare purus, eu commodo risus risus nec ipsum. Fusce sit amet ullamcorper ligula. Nunc vel ultrices diam. Sed elit purus, pellentesque id vestibulum sit amet, aliquam a nisl. Aenean viverra elit ut ultrices congue. Aenean metus ex, convallis non nulla at, rhoncus molestie nisl. Nullam blandit aliquet augue, sed cursus magna tincidunt nec.</p>
        <p>Donec rhoncus scelerisque neque sit amet interdum. Morbi ac urna enim. Morbi orci nibh, fringilla at nulla vel, interdum cursus neque. Praesent ac metus eu urna pretium mollis. Nullam malesuada nibh vel lectus sagittis egestas. Nullam vitae maximus tellus, sit amet ornare turpis. Nullam mollis risus vitae neque luctus, sed malesuada odio sollicitudin. Proin convallis, enim eu fermentum tincidunt, metus neque ornare purus, eu commodo risus risus nec ipsum. Fusce sit amet ullamcorper ligula. Nunc vel ultrices diam. Sed elit purus, pellentesque id vestibulum sit amet, aliquam a nisl. Aenean viverra elit ut ultrices congue. Aenean metus ex, convallis non nulla at, rhoncus molestie nisl. Nullam blandit aliquet augue, sed cursus magna tincidunt nec.</p>
        <p>Donec rhoncus scelerisque neque sit amet interdum. Morbi ac urna enim. Morbi orci nibh, fringilla at nulla vel, interdum cursus neque. Praesent ac metus eu urna pretium mollis. Nullam malesuada nibh vel lectus sagittis egestas. Nullam vitae maximus tellus, sit amet ornare turpis. Nullam mollis risus vitae neque luctus, sed malesuada odio sollicitudin. Proin convallis, enim eu fermentum tincidunt, metus neque ornare purus, eu commodo risus risus nec ipsum. Fusce sit amet ullamcorper ligula. Nunc vel ultrices diam. Sed elit purus, pellentesque id vestibulum sit amet, aliquam a nisl. Aenean viverra elit ut ultrices congue. Aenean metus ex, convallis non nulla at, rhoncus molestie nisl. Nullam blandit aliquet augue, sed cursus magna tincidunt nec.</p>
      </div>


    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>



</html>
