<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/notice.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="container">

    <div id="header">
      <%- include('./partials/header'); %>
    </div>

    <div id="contents">
      <p>개인정보취급방침</p>

    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>



</html>
