<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <p>공지사항 게시판</p>


  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>



</html>
