<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>워니프레임 채용</title>
</head>
<body>
  <header>
    <a href="/"><img src="images/logo.png" height ="30" alt=""></a>
    <a href="/position/writer" class="header_category">글작가 페이지</a>
    <a href="/position/illustrator" class="header_category">그림작가 페이지</a>
    <a href="/position/pm" class="header_category">기획자 페이지</a>
    <a href="https://wonyframe.com/" class="header_category">워니프레임 홈페이지</a>
  </header><br>
  기획자 소개페이지
  <a href="/position/apply">지원하기</a>
</body>
</html>
