<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>워니프레임 채용</title>
</head>
<body>
  <header>
    <a href="/"><img src="images/logo.png" height ="30" alt=""></a>
    <a href="/position/writer" class="header_category">글작가 페이지</a>
    <a href="/position/illustrator" class="header_category">그림작가 페이지</a>
    <a href="/position/pm" class="header_category">기획자 페이지</a>
    <a href="https://wonyframe.com/" class="header_category">워니프레임 홈페이지</a>
  </header><br>
  <div>
    <div><img src="images/writer_1.jpg" width = "300" alt=""></div>
    <div><p>글작가 소개 내용 1</p></div>
  </div>
  <div>
    <div><p>글작가 소개 내용 2/p></div>
    <img src="images/8.gif" alt="">
    <div><img src="images/writer_2.jpg" width = "300" alt=""></div>
  </div>

  <a href="/position/apply">지원하기</a>

</body>
</html>
