/* applicantDetail.ejs */

#container{
  width: 1600px;
  padding: 20px;
  margin: 0 auto;
}

#applicant_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#detail_info{
  display: flex;
  margin-bottom: 70px;
}

#detail_info_left{
  display: flex;
  width: 50%;
}
#detail_info_mainimage{
  width: 100%
}
#detail_info_mainimage img{
  width: 780px;
  height: 780px;
  margin-right: 20px;
}
#detail_info_info{
  font-family: 'NanumSquareRound';
  font-size: 40pt;
  line-height: normal;
}
#detail_info_right_title p{
  margin: 0;
  font-size: 30px;
}

#detail_status{
  display: flex;
  width: auto;
  height: 60px;
  border: 1px #000000 solid;
  display: flex;
  align-items: center;
  font-size: 20pt;
}
#detail_status p{
  margin-left: 10px;
}

#detail_info_info ul{
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 40px;
  padding-left: 5px;
}
#detail_info_info li{
  list-style: none;
  font-size: 30px;
}
#detail_info_info li:before{
  content: "•";
  font-size: 60px;
  vertical-align: middle;
}

#detail_info_right{
  width: 50%;
  display: flex;
  flex-direction: column;

}




#detail_status_admincheck{
  width: 30%;
  margin: 0px 35px;
  display: flex;
  align-items: center;
}

#detail_info_style{
  margin-left: 20px;
  width:620px;
  height: 280px;
  overflow: auto;
}

#detail_info_tags{
  display: flex;

}

.userTags{
  display: flex;
  margin: 0 5px;
}
.userTags p{
  font-size: 10pt;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  padding: 4px;
}
.userTags label{
  font-size: 15pt;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 100px;
  height: 40px;
  color: #000000;
  background-color: #ffffff;
  padding: 0;
  line-height: normal;
  border: 1px solid #000000;
}
.userTags input{
  display: none;
}
.userTags label{
  width: 15px;
  height: 15px;
}



.userTags img{
  height: 15px;
  width: 15px;
}

#detail_info_update p{
  font-size: 15pt;
}

#admin_manage a{
  border: 1px solid black;
  border-radius: 8px;
  padding: 2px;
  text-decoration: none;
  color: black;
}
