@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  background-color : #ffffff;
  font-family: 'NanumSquareRound';
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  /*border: 5px solid black;*/
}

.popupscroll{
  overflow: hidden;
}

/* header */
#header{
  height: 220px;
  margin-bottom: 60px;
}

#header-main-logo{
  height: 100px;
  width: 600px;
  max-width: 100%;
  display: block;
  margin: 20px 500px 33px 500px;
}


#header-sub-logo{
  height: 60px;
  width: 400px;
  margin: 0px 600px 10px 600px;
  max-width: 100%;
  display: block;
}



/* footer */
#footer{
  margin-top: 60px;
}

#footer_nav{
  height:30px;
}

#footer_nav li, #footer_nav p, #footer_nav a{
  display: inline-block;
  font-size: 10pt;
  text-decoration: none;
  color: black;
}

#footer_nav ul{
  padding-left: 10px;
}

#footer_info{
  height:150px;
  font-size:15px;
}
#footer_copyright{
  float:right;
  color:#a7a7a7;
}
/* etc */
#logoutButton input{
  font-family: 'NanumSquareRound';
  font-size: 15pt;
  display: flex;
  width: 100px;
  height: 40px;
  color: #000000;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: normal;
  margin-right: 0px;
  margin-bottom: 20px;
  border: 1px black solid;
  cursor: pointer;
}

/* popup */
#popup{

}

.popup-wrap{
  background-color: rgba(196, 196, 196, 0.6);
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  padding: 20px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: auto;
}

.popup{
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #959595;
  padding: 0px;
  box-shadow: 5px 10px 10px 1px #0f0f0f;
}
.popup-header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-header img{
  height: 100%;
  width: 100%;
}
.popup-body{
  width: 100%;
  background-color: #60ebb5;
  display: flex;
  justify-content: center;

}
.popup-content{}

.popup-footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.popup-button{
  background-color: #888888;
  width: 30%;
  display:flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
