@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  background-color : #ffffff;
  font-family: 'NanumSquareRound';
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  /*border: 5px solid black;*/
}

/* header */
#header{
  height: 220px;
  margin-bottom: 60px;
}

#main-logo{
  height: 100px;
  width: 600px;
  max-width: 100%;
  display: block;
  margin: 20px 500px 33px 500px;
}


#sub-logo{
  height: 60px;
  width: 400px;
  margin: 0px 600px 10px 600px;
  max-width: 100%;
  display: block;
}



/* footer */
#footer_nav{
  height:30px;
}

#footer_nav li, #footer_nav p, #footer_nav a{
  display: inline-block;
  font-size: 8pt;
}

#footer_info{
  height:150px;
  font-size:15px;
}
#footer_copyright{
  float:right;
  color:#a7a7a7;
}
