html {
  background-color : #90b9e2;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #98928a;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

.header_navbar{

}

.header_category{
  color: #60d9e0;
  border: 1px solid black;
  width: 300px;
}


.a:hober{
  color: green;
}

.inner_container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inner_container2{
  display: grid;
  grid-template-columns: 2fr 1fr;
}


.pg {
  border-style: solid;
  border-width: thin;
}


.tg  {border-collapse:collapse;border-spacing:0; background-color:#ffffff;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;width:500px;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-cly1{text-align:left;vertical-align:top}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
